In [1]:
from mlopspackage import data_loader, model_evaluation, model_training, preprocessing
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_data = data_loader.load_data('data/train.csv')
train_data = data_loader.clean_data(train_data)

In [3]:
train_data

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500     C        S
1           1       1  female  38.0      1      0  71.2833     C        C
2           1       3  female  26.0      0      0   7.9250     C        S
3           1       1  female  35.0      1      0  53.1000     C        S
4           0       3    male  35.0      0      0   8.0500     C        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000     C        S
887         1       1  female  19.0      0      0  30.0000     B        S
888         0       3  female  28.0      1      2  23.4500     C        S
889         1       1    male  26.0      0      0  30.0000     C        C
890         0       3    male  32.0      0      0   7.7500     C        Q

[891 rows x 9 columns]

In [4]:
# Préparer les données
X = train_data.drop("Survived", axis=1)
y = train_data["Survived"]

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=0)

# Prétraitement
categorical_features = ['Sex', 'Embarked', 'Cabin']

numeric_features = ['Age', 'SibSp', 'Parch', 'Pclass', 'Fare']
X_train_processed, X_valid_processed, preprocessor = preprocessing.preprocess_data(
    X_train, X_valid, numeric_features, categorical_features
)

In [5]:
results,best_model, best_model_name = model_training.train_models(preprocessor, X_train_processed, y_train)
for model, score in results.items():
    print(f"{model}: {score:.2f}")

Logistic Regression: 0.85
Random Forest: 0.85
XGBoost: 0.84

In [6]:
classification_report = model_evaluation.evaluate_model(best_model, X_valid_processed, y_valid)

In [7]:
print(best_model_name)
print(classification_report)

Logistic Regression
              precision    recall  f1-score   support

           0       0.84      0.85      0.85       139
           1       0.75      0.74      0.74        84

    accuracy                           0.81       223
   macro avg       0.79      0.79      0.79       223
weighted avg       0.81      0.81      0.81       223